<html>

<head>
	<title>Yichao HUANG {% if page.title %} | {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" type="text/css" href="css/one.css"/>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
  
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta name="description" content="Page Personnelle de Yichao HUANG"/>
	<meta http-equiv="Content-Language" content="fr,en"/>
</head>

<!--body-->
<body>

<!--Content-->
<div id="container">

<!--Page-->
<div>
<div id="nav">
	<div id="active"><a class="nostyle" href="index_one.html"><h3>Accueil</h3></a></div><div id="inactive"><a class="nostyle" href="travaux_one.html"><h3>Travaux</h3></a></div><div id="inactive"><a class="nostyle" href="contact_one.html"><h3>Contact</h3></a></div><div id="inactive"><a class="nostyle" href="misc_one.html"><h3>Misc</h3></a></div>
</div>

<div id="page">

<!--Accueil-->
<div>

{{ content }}

</div>
<!--End of Accueil-->

</div>
</div>
<!--End of Page-->

	<p class="center">Dernière modification : {{ 'now' | date: "%d/%m/%Y" }}.</p>
</div>
<!--End of Content-->

</body>

</html>
