<html>

<head>
	
	<title>{% if page.title %}{{ page.title }} |{% endif %} Yichao</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
  
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Content-Language" content="fr,en"/>

</head>

<!--body-->
<body>

<!--Content-->
<div id="container">

<!--Page-->
<div>
<div id="nav">
	<div id="active"><a class="nostyle" href="home.html"><h3>About</h3></a></div><div id="inactive"><a class="nostyle" href="work.html"><h3>Works</h3></a></div><div id="inactive"><a class="nostyle" href="music.html"><h3>Music</h3></a></div><div id="inactive"><a class="nostyle" href="index.html"><h3>Français</h3></a></div>
</div>

<div id="page">

<!--Accueil-->
<div>

{{ content }}

</div>
<!--End of Accueil-->

</div>
</div>
<!--End of Page-->

</div>
<!--End of Content-->

</body>

</html>
