<html>

<head>

	<title>{% if page.title %}{{ page.title }} |{% endif %} Yichao</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
  
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta name="robots" content="noindex">
	<meta http-equiv="Content-Language" content="fr,en"/>
	
</head>

<!--body-->
<body>

<!--Content-->
<div id="container">

<!--Page-->
<div>
<div id="nav">
		<div id="inactive"><a class="nostyle" href="index.html"><h3>Accueil</h3></a></div><div id="inactive"><a class="nostyle" href="travaux.html"><h3>Travaux</h3></a></div><div id="active"><a class="nostyle" href="music.html"><h3>Musique</h3></a></div><div id="inactive"><a class="nostyle" href="music.html"><h3>English</h3></a></div>
</div>

<!--Page-->
<div id="page">

<!--Accueil-->
<div>

{{ content }}

</div>
<!--End of Accueil-->

</div>
</div>
<!--End of Page-->

</div>
<!--End of Content-->

</body>

</html>
