<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Yichao Huang | Binge-project</title>
    <link rel="stylesheet" href="{{ '/assets/css/tufte.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/latex.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <article>
      <h1> Analysis by Simon, Par {{ post.title }} </h1>

      {{ content }}

    </article>
  </body>
</html>
