<html>

<head>

	<title>{% if page.title %}{{ page.title }} |{% endif %} Yichao</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
  
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta name="robots" content="noindex">
	<meta http-equiv="Content-Language" content="fr,en"/>

	<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="js/jquery.pjax.js"></script>
	<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	
</head>

<!--body-->
<body>

<script type="text/javascript">
    $(document).ready(function(){
        $('a.nostyle').pjax('#page');
    });
</script>

<!--Content-->
<div id="container">

<!--Page-->
<div>
<div id="nav">
		<div id="inactive"><a class="nostyle" href="index.html"><h3>Accueil</h3></a></div><div id="active"><a class="nostyle" href="travaux.html"><h3>Travaux</h3></a></div><div id="inactive"><a class="nostyle" href="contact.html"><h3>Contact</h3></a></div><div id="inactive"><a class="nostyle" href="misc.html"><h3>Misc</h3></a></div>
</div>

<!--Page-->
<div id="page">

<!--Accueil-->
<div>

{{ content }}

</div>
<!--End of Accueil-->

</div>
</div>
<!--End of Page-->

</div>
<!--End of Content-->

</body>

</html>
